TestWcf/Service References/chanenetWcf/chanenetWcf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/chananet.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/chananet.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LineProgram">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientSecret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="redirect_uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineProgram" nillable="true" type="tns:LineProgram" />
  <xs:complexType name="ProcessResoult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessResoult" nillable="true" type="tns:ProcessResoult" />
  <xs:complexType name="ArrayOfLineUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineUser" nillable="true" type="tns:LineUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineUser" nillable="true" type="tns:ArrayOfLineUser" />
  <xs:complexType name="LineUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineProgram_id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineUser" nillable="true" type="tns:LineUser" />
</xs:schema>